global_defs {
    enable_script_security
}

vrrp_script chk_haproxy {
    script "killall -0 haproxy""
    interval 2      
    weight 2        
    fall 2          
    rise 2 
    user root         
}

vrrp_instance ha_proxy {

  {% if vrrp_role == "master" %}
    state MASTER
  {% elif vrrp_role == "slave" %}
    state BACKUP
  {% endif %}
    interface eth1   
    virtual_router_id 254 
  {% if vrrp_role == "master" %}
    priority 100
  {% elif vrrp_role == "slave" %}
    priority 99
  {% endif %}    
    
    advert_int 1 
 
  {% if vrrp_role == "master" %}
    unicast_src_ip {{ vrrp_net_addr }}
    unicast_peer {
        {{ hostvars[groups.kub_loadbalancers_nodes[1]]['vrrp_net_addr'] }}
    }
  {% elif vrrp_role == "slave"  %}
    unicast_src_ip {{ vrrp_net_addr  }}
    unicast_peer {
        {{ hostvars[groups.kub_loadbalancers_nodes[0]]['vrrp_net_addr'] }}
    }
  {% endif %}
    

    virtual_ipaddress {
        {{ balancer_vip }} dev eth1
    } track_script {
        chk_haproxy
    }
}
