

[Unit]
Description=Apache Kafka Server (KRaft)
Documentation=https://kafka.apache.org/documentation/
After=network.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment="JAVA_HOME=/usr/lib/jvm/java-{{ java_version }}-openjdk-amd64"
Environment="KAFKA_HEAP_OPTS=-Xmx{{ jvm_heap_size }}G -Xms{{ jvm_heap_size }}G"
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=always
RestartSec=10

# Настройки для производительности
LimitNOFILE=65536
LimitNPROC=32768

[Install]
WantedBy=multi-user.target