{
  "node_name": "{{ inventory_hostname }}", 
  "data_dir": "{{ data_dir }}",
  "client_addr": "0.0.0.0",
  "bind_addr": "{{ cluster_net_addr }}",
  "disable_update_check": true,
  {%- set server_list = groups['consul_servers'] -%}
  
  "retry_join": [{{ server_list | join('","') | regex_replace('^', '"') | regex_replace('$', '"') }}],
  "encrypt": "{{ ENCRYPTION_KEY.stdout }}",
  "addresses": {
    "http": "0.0.0.0"
  },
  "ports": {
    "http": 8500
  },
  "tls": {
    "defaults": {
       "verify_incoming": true,
       "verify_outgoing": true,
       "ca_file": "{{ tls_dir }}/consul-agent-ca.pem",
       "cert_file": "{{ tls_dir }}/{{ data_center }}-server-{{ domain }}-{{ node_id }}.pem",
       "key_file": "{{ tls_dir }}/{{ data_center }}-server-{{ domain }}-{{ node_id }}-key.pem"
    },
    "internal_rpc": {
      "verify_server_hostname": true
    }
  }
}


